<h2 mat-dialog-title>{{'bacssa.ng1_title_dialog' | translate}}</h2>
<mat-dialog-content>
  <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="dataForm">
    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Id" formControlName="id" name="id" required>
      </mat-form-field>
    </div>
    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control"  placeholder="{{'bacssa.name' | translate}}" formControlName="name" name="name" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control"  placeholder="{{'bacssa.description' | translate}}" formControlName="description" name="name" required>
      </mat-form-field>
    </div>

  </form>
 <!-- <app-upload-file [brand]="true" (uploadFilesEvent)="eventUploadFiles($event)"></app-upload-file>-->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" (click)="onNoClick()">CANCELAR</button>
  <button mat-raised-button [disabled]="dataForm.invalid" (click)="confirmAdd()" color="primary">{{textMode}}</button>
</mat-dialog-actions>