
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" routerLink="/customer" aria-label="Example icon-button with heart icon">
          <mat-icon>account_box</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" routerLink="/document" aria-label="Example icon-button with share icon">
          <mat-icon>chrome_reader_mode</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
      <ngx-ui-loader></ngx-ui-loader> 
