<h2 mat-dialog-title>{{'bacssa.title_customer' | translate}}</h2>
<mat-dialog-content>
  <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="dataForm">
    <div class="form">
      <mat-form-field color="accent">
        <input matInput  placeholder="Id" formControlName="id" name="id" required>
      </mat-form-field>
    </div>
    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput   placeholder="{{'bacssa.firstName' | translate}}" formControlName="firstName" name="name" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput   placeholder="{{'bacssa.lastName' | translate}}" formControlName="lastName" name="name" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput   placeholder="{{'bacssa.email' | translate}}" formControlName="emailId" name="name" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput   placeholder="{{'bacssa.phone' | translate}}" maxlength="10" formControlName="phone" name="name" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <mat-label>{{'bacssa.document' | translate}}</mat-label>
        <mat-select  (selectionChange)="onOptionsSelected($event)" formControlName="document"
          name="category">
          <mat-option *ngFor="let type of documents" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>
 <!-- <app-upload-file [brand]="true" (uploadFilesEvent)="eventUploadFiles($event)"></app-upload-file>-->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" (click)="onNoClick()">CANCELAR</button>
  <button mat-raised-button [disabled]="dataForm.invalid" (click)="confirmAdd()" color="primary">{{textMode}}</button>
</mat-dialog-actions>