<mat-toolbar>
  <span>{{'bacssa.title_customer' | translate}}</span>
  <span class="margin-right:4px;"></span>
</mat-toolbar>
<div class="example-container mat-elevation-z8" style="margin: 5%">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
  </mat-form-field>
  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="name" matSortDisableClear
      matSortDirection="desc">
      <!-- Number Column -->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>{{'bacssa.firstName' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>{{'bacssa.lastName' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="emailId">
        <th mat-header-cell *matHeaderCellDef>{{'bacssa.emailId' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.emailId}}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>{{'bacssa.phone' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.phone}}</td>
      </ng-container>

      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef>{{'bacssa.document' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.document.name}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent" (click)="startEdit(i, row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
          <button mat-icon-button color="accent" (click)="deleteItem(i, row)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="resultsLength"></mat-paginator>
</div>